.products {
  padding: 0 15rem;

  @media (max-width: 1400px) {
    padding: 0 2rem;
  }
}

.title {
  padding-bottom: 40px;
}

.items {
  padding: 0 10rem;

  @media (max-width: 1400px) {
    padding: 0;
  }
}

