.slider {
  height: calc(100vh - 60px);
  width: 100vw;
  max-width: 100%;
  position: relative;
  overflow: hidden;

  @media (max-width: 1200px) {
    height: 60rem;
  }

  @media (max-width: 768px) {
    height: 50rem;
  }

  @media (max-width: 600px) {
    height: 30rem;
  }
}

.container {
  display: flex;
  height: 100%;
  transition: all 1s ease 0s;

  img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }
}

.icons {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border: 2px solid #282c34;
  color: #282c34;
  cursor: pointer;
}